@use "variables" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-body;
    background: $bg-dark;
    color: $text-primary;
    line-height: 1.6;
    min-height: 100vh;
}

a {
    color: $doom-red-bright;
    text-decoration: none;
    transition: color $transition-fast;

    &:hover {
        color: $text-heading;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    color: $text-heading;
    letter-spacing: 1px;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
}

input,
textarea,
select {
    font-family: inherit;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: $bg-dark;
}

::-webkit-scrollbar-thumb {
    background: $border-color;
    border-radius: 4px;

    &:hover {
        background: $doom-red;
    }
}
